<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <div th:replace="~{fragments/head :: head}"></div>
</head>

<body>
<div class="container">
    <form id="form" method="post" action="/auth/save_password">
        <h2 id="model" th:text="'Set password for user: ' + ${email} + ':'"></h2>
        <div id="password-container1" class="form-group">
            <label for="password1">Password:</label>
            <input class="form-control" type="password" id="password1" name="password1" pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)[a-zA-Z\d]{8,}$" required>
        </div>
        <div id="password-container2" class="form-group">
            <label for="password2">Confirm Password:</label>
            <input class="form-control" type="password" id="password2" name="password2" pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)[a-zA-Z\d]{8,}$" required>
        </div>
        <input hidden type="text" id="email" name="email">

        <div class="my-3"><button id="submit" type="submit" class="btn btn-primary">Submit</button>
        </div>
    </form>
</div>
</body>
<script>

    var passwordField1 = document.getElementById("password1");
    passwordField1.addEventListener("invalid", ({ target }) => {
  target.setCustomValidity("Password must be at least 8 characters long and contain at least one uppercase letter, one lowercase letter, and one number");
});
passwordField1.addEventListener("input", ({ target }) => {
  target.setCustomValidity("");
});

var passwordField2 = document.getElementById("password2");
     passwordField2.addEventListener("invalid", ({ target }) => {
  target.setCustomValidity("Passwords do not match");
  });
passwordField2.onchange=()=>{
passwordField2.setAttribute('pattern', passwordField1.value);
}
passwordField2.addEventListener("input", ({ target }) => {
  target.setCustomValidity("");
});
</script>
</html>